$font-family: Calibri, Verdana, Helvetica, sans-serif;
$primary-color: #999;

body{
	font-family: $font-family;
	color: $primary-color;
}

.base{
	padding: 10px;
	background-color: #ccc;
	color: #fff;
}

.inherit-base-blue{
	@extend .base;
	border: 2px solid #000080;
}

.inherit-base-red{
	@extend .base;
	border: 2px solid red;
}

div.right{
	float: right;
	
	span{
		color: #000080;
	}
}



